* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: lightblue;
    --text-align: center;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

main img {
    width: 180px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    bottom: 10px;
    width: 20rem;
    text-align: var(--text-align);
}

aside h2 {
    position: absolute;
    right: 3px;
    left: 4px;
    top: 20px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: var(--text-align);
}

/* Class Selector*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    width: 75%;
    color: black;
}